body {
	font: 70.5% "Trebuchet MS", "Arial", "Helvetica", "Verdana", sans-serif;
	margin: 10px;
}

.ocs_dash_item {
	font-size: 2em;
	color: #CC9933;
	font-weight: bold;
	
}

#dashboard_link {
	text-decoration:none;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("ui-lightness/images/ui-icons_ef8c08_256x240.png") !important;
}

textarea {
	font-size: 11px;
	color: #005C8A;
}

.ocs-ui-widget-header {
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-widget-header {
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}

